<!-- Start Page Content -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Barra de progreso...</h4>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [attr.ariaValuenow]="porcentajeA" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" [style.width]="porcentajeA + '%'"></div>
                </div>
                <br />
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" [attr.ariaValuenow]="porcentajeB" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" [style.width]="porcentajeB + '%'"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End PAge Content -->
<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-incrementador (cambioValor)="porcentajeA = $event" titulo="Valor desde padre 1" [porcentaje]="porcentajeA"></app-incrementador>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-incrementador (cambioValor)="porcentajeB = $event" titulo="Valor desde padre 1" [porcentaje]="porcentajeB"></app-incrementador>
            </div>
        </div>
    </div>
</div>
