<!-- ============================================================== -->
<!-- Stats box -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-lg-3">
        <div class="card bg-info">
            <div class="card-body">
                <div class="d-flex no-block">
                    <div class="m-r-20 align-self-center">
                        <img src="../assets/images/icon/income-w.png" alt="Income" />
                    </div>
                    <div class="align-self-center">
                        <h6 class="text-white m-t-10 m-b-0">Consultas Totales</h6>
                        <h2 class="m-t-0 text-white">37</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card bg-success">
            <div class="card-body">
                <div class="d-flex no-block">
                    <div class="m-r-20 align-self-center">
                        <img src="../assets/images/icon/expense-w.png" alt="Income" />
                    </div>
                    <div class="align-self-center">
                        <h6 class="text-white m-t-10 m-b-0">Consultar al Service</h6>
                        <h2 class="m-t-0 text-white">16</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card bg-primary">
            <div class="card-body">
                <div class="d-flex no-block">
                    <div class="m-r-20 align-self-center">
                        <img src="../assets/images/icon/assets-w.png" alt="Income" />
                    </div>
                    <div class="align-self-center">
                        <h6 class="text-white m-t-10 m-b-0">Consultas al almacenado</h6>
                        <h2 class="m-t-0 text-white">21</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card bg-danger">
            <div class="card-body">
                <div class="d-flex no-block">
                    <div class="m-r-20 align-self-center">
                        <img src="../assets/images/icon/staff-w.png" alt="Income" />
                    </div>
                    <div class="align-self-center">
                        <h6 class="text-white m-t-10 m-b-0">Total Usuarios</h6>
                        <h2 class="m-t-0 text-white">3</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- Sales overview chart -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-lg-6 col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex">
                    <div>
                        <h3 class="card-title m-b-5">
                            <span class="lstick"></span>Cosultas por MES
                        </h3>
                    </div>
                    <div class="ml-auto">
                        <select class="custom-select b-0">
              <option selected="">Mayo 2020</option>
              <option value="1">null</option>
              <option value="2">null</option>
              <option value="3">null</option>
            </select>
                    </div>
                </div>
            </div>
            <div class="bg-theme stats-bar">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="p-20 active">
                            <h6 class="text-white">Consultas totales</h6>
                            <h3 class="text-white m-b-0">37</h3>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="p-20">
                            <h6 class="text-white">Este Mes</h6>
                            <h3 class="text-white m-b-0">37</h3>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="p-20">
                            <h6 class="text-white">Esta Semana</h6>
                            <h3 class="text-white m-b-0">11</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div id="sales-overview2" class="p-relative" style="height: 330px;"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"><span class="lstick"></span>Graficamente</h4>
                <app-grafico-dona [doughnutChartLabels]="graficos.grafico1.labels" [doughnutChartData]="graficos.grafico1.data" doughnutChartType="doughnut"></app-grafico-dona>
            </div>
        </div>
    </div>
    <!-- visit charts-->
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"><span class="lstick"></span>Graficamente</h4>
                <app-grafico-dona [doughnutChartLabels]="graficos.grafico2.labels" [doughnutChartData]="graficos.grafico2.data" doughnutChartType="doughnut"></app-grafico-dona>
            </div>
        </div>
    </div>
</div>